.backdrop {
  position: fixed;
  display: grid;
  width: 100dvw;
  height: 100dvh;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
}

.modal {
  display: grid;
  background-image: linear-gradient(
    180deg,
    rgba(223, 180, 186, 1) 0%,
    rgba(255, 193, 180, 1) 100%
  );
  border-radius: 30px;
  width: 90dvw;
  height: 90dvh;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.rating {
  direction: rtl;
  cursor: pointer;
}

.rating:hover {
  cursor: pointer;
}

.rating label {
  display: inline;
  cursor: pointer;
  color: #ffeded;
}

.rating label i {
  font-size: 8vw;
  transition: 0.1 ease-in;
}

.rating label:hover i,
.rating label:hover ~ label i {
  color: #a56d94;
}

.radio {
  display: none;
}

input[type="radio"]:checked + label i,
input[type="radio"]:checked ~ label i {
  color: #a56d94;
}

.buttons {
  width: 80dvw;
  height: 10dvw;
  display: grid;
  /* grid-template-columns: 50% 50%; */
  justify-items: center;
  align-items: center;
  font-size: 4vw;
}

.submit {
  background-color: #a56d94;
  border: #a56d94 solid 0.3vw;
  border-radius: 2vw;
  width: 100%;
  padding: 2vw;
  margin: 1vw;
  text-align: center;
  color: white;
}

.submit:hover {
  cursor: pointer;
}

.cancel {
  border: #ffeded solid 0.2vw;
  border-radius: 2vw;
  width: 100%;
  text-align: center;
  padding: 2vw;
  margin: 1vw;
  color: white;
}

.cancel:hover {
  cursor: pointer;
}
